<!DOCTYPE html>
<html>
<head>
    <title>Add new product</title>
</head>
<body>
<h1>Add new items</h1>
<form method="post" action="">
        <p><label>Name:</label> <input type="text" name="nombre"></p>
        <p><label>Description:</label> <input type="text" name="descripcion"></p>
        <p><label>Price:</label> <input type="number" name="precio">
        <p><label>Num Ref:</label> <input type="text" name="n_ref"></p>
        <p><label>Quality:</label> <select name="calidad">
            <option value="Any">Any</option>
            <option value="Good">Good</option>
            <option value="Average">Average</option>
            <option value="Acceptable">Acceptable</option>
            </select></p>
        <p><label></label></p>
        <p><label>Model:</label> <input type="text" name="modelo"></p>
        <p><label>Weight:</label> <input type="text" name="peso"></p>
        <p><label>Quantity:</label> <input type="text" name="cantidad">
        <p><label>Marca:</label> <input type="text" name="marca"></p>
        <p><label>Vendido por:</label> <input type="text" name="vendido_por"></p>


        <p><button type="submit">Add</button></p>
    </form>
</body>
</html>