<!DOCTYPE html>
<html>
<head>
    <title>Add your information!</title>
</head>
<body>
<form method="post" action="">
        <p><label>Name:</label> <input type="text" name="nombre"></p>
        <p><label>Email:</label> <input type="text" name="email"></p>
        <p><label>Direction:</label> <input type="text" name="direction"></p>
        <p><label>Priority:</label> <select name="priority">
            <option value="Economic">Standard</option>
            <option value="Standard">Fast</option>
            <option value="Express">Express</option>
            </select></p>
        <p><label></label></p>
        <p><button type="submit">Send</button></p>
    </form>
</body>
