<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
<style>
table, th, td {
    border: 1px solid black;
    padding: 5px;
}
table {
    border-spacing: 15px;
}
</style>
</head>
<body>
<table style="width:100%">
    <tr>
        <th></th><th>ID</th> <th>Name</th> <th>Delivery Date</th> <th>Carrier</th>
    </tr>
        {% for id in products%}
            <tr>
                <td>{{product[id].id}}</td>
                <td>{{product[id].nombre}}</td>
                <td>{{product[id].fecha}}</td>
                <td>{{product[id].transportista}}</td>
            </tr>
        {% endfor %}
</table>